body {
    background-color: aqua;
}

.Todolist {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    flex-wrap: wrap;



}

h1 {
    font-size: 4rem;

}

button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.5s ease;

}

h3 {
    /* font-size: 40px; */
    font-weight: bold;
    padding: 10px 20px;
    /* color: aqua; */
    /* background-color: blueviolet; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.5s ease;

}

.add {
    background-color: hsl(25, 75%, 47%);
    margin-left: 10px;
    height: 100%;
}
.add:hover{
    background-color: hsl(25, 75%, 27%);
    color: aliceblue;
}

.edit{
    transition: transform 1s;
}
.edit:hover { 
    color: rgb(94, 8, 8);
    transform: scale(1.5);
}
.delete:hover { 
    color: rgb(94, 8, 8);
    transform: scale(2);
}
.delete{
    transition: transform 1s;
}

.move{
    transition: transform 1s;
}
.move:hover { 
    color: rgb(94, 8, 8);
    transform: scale(2);
}

input[type="text"] {
    font-size: 2rem;
    padding: 10px;
    border: 2px solid rgb(113, 80, 80);
    border-radius: 5px;

}

ol {
    padding: 0;
    width: 70%;
}

.span {
    word-wrap: break-word;
    width: 50%;

}

.btn {
    margin-left: 1%;
    display: flex;
    flex-direction: row;


}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    /* background-color: darkorchid; */
    margin-bottom: 10px;
    border: 4px solid rgb(212, 209, 214);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35%;
}

.delete .move {
    padding: 8px 12px;
    font-size: 1rem;
    margin-left: 14px;
}
.h3-tag{
    margin-left: 400px;
}
@media (max-width:1024px){
    .Todolist{
        margin-left: 50px;
    }
    .h3-tag{
        margin-left: 0px;
    }
    li {
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        /* background-color: darkorchid; */
        margin-bottom: 10px;
        border: 2px solid rgb(212, 209, 214);
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: -12%;
        border: none;
    }
}